div.preview_color {
	width: 30%; 
	height:50px; 
	float:left;
	border-radius: 5px;
	border:1px solid #eee;
	margin-right: 20px;
}

.object_virtual{
	position: relative;
	/* margin-bottom: 30vh; */
}

.painted_object_room {
	position: absolute;
	/* top: 0; */
}
.object_virtual img{
	border-radius: 12px;
	margin-bottom: 20px;
}



